@using System.Collections
@using DataLayer
@model  TaxLienTracker4.Models.PropertyEarningsViewModel

<div class="row">
    <div class="col-md-2">
        <label for="PropName">Property Owner</label>
        <input type="text" class="form-control" readonly="readonly" value="@Model.Property.OwnerFirstName @Model.Property.OwnerLastName" id="PropName"/>
    </div>
    <div class="col-md-2">
        <label for="address">Address</label>
        <input type="text" class="form-control" readonly="readonly" value="@Model.Property.HouseNum @Model.Property.StreetName" id="address">
    </div>
    <div class="col-md-2">
        <label for="municipality">Municipality</label>
        <input type="text" class="form-control" readonly="readonly" value=" @Model.Property.Municipality.MunicipalityName" id="municipality">
    </div>
    <div class="col-md-2">
        <label for="blockLot">Block / Lot</label>
        <input type="text" class="form-control" readonly="readonly" value="@Model.Property.Block @Model.Property.Lot @Model.Property.Qualifier" id="blockLot">
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label for="PurchaseDate">Original Date of Purchase</label>
        <input type="text" class="form-control" readonly="readonly" value="@Model.Property.Certificates.First().DateOfPurchase" id="PurchaseDate"/>
    </div>
    <div class="col-md-2">
        <label for="RedemptionDate">Date of Redemption</label>
        <input type="text" class="form-control" readonly="readonly" value="@Model.Property.Certificates.First().RedemptionDate" id="RedemptionDate"/>
    </div>
    <div class="col-md-2">
        <label for="totalOutlay">Total Outlay</label>
        <input type="text" class="form-control" readonly="readonly" value="@Model.TotalInvestment" id="totalOutlay"/>
    </div>
    <div class="col-md-2">
        <label for="totalEarnings">Total Earnings</label>
        <input type="text" class="form-control" readonly="readonly" value="@Model.TotalEarnings" id="totalEarnings"/>
    </div>
    
</div>
      @Html.ActionLink("Earnings","PropertyEarnings",new {propertyId = Model.Property.Id}) 
